/* Cores */
:root {
    --high-blue: #182EE8; /* Azul forte */
    --medium-blue: #325CC8; /* Azul médio */
    --light-grey: #6c757d; /* Cor secundária */
    --white: #F5F5F5; /* Cor de fundo */
  }
