/* Cores */
:root {
    --high-blue: #182EE8; /* Azul forte */
    --medium-blue: #325CC8; /* Azul médio */
    --light-blue: #6998e8 /* Azul claro */
    --light-grey: #6c757d; /* Cor secundária */
    --white: #FFFFFF; /* Cor de fundo */
  }
