.menu {
    background-image: url(../assets/graphism1.png);
    background-size: 1300px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white);
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 5px 5px 0px 0px;
    width: 150px;
    text-decoration: none;
}

.menu ul {
    margin-top: 15vw;
    list-style: none;
    justify-content: left;
    padding-left: 5px;
}

.menu ul li {
    padding: 3px;
    margin: 5px;
    margin-left: 0px;
    background-color: #bef2ff;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    text-align: right;
}

.menu ul li a {
    font-size: x-small;
    text-decoration: none;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}

.menu ul li a:visited {
    text-decoration: none;
}